* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Navbar */

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
  gap: 27px;
}

.list_item {
  color: #000;
  font-size: 19px;
  font-weight: 700;
  line-height: 34px;
}
.nav {
  display: flex;
  align-items: center;
  gap: 35px;
}
.darkmode {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar_btn {
  width: 240px;
  height: 50px;
  border-radius: 40px;
  outline: none;
  border: none;
  border-radius: 40px;
  line-height: 22px;
  text-transform: capitalize;
  font-size: 19px;
  color: #fff;
  background: linear-gradient(90deg, #ff4d00 0%, #ff9365 100%);
}
.darkmode i {
  font-size: 24px;
  /* width: 24px;
    height: 24px; */
}

/* Swipor */

/* swipor p */
.swipor_div_p {
  display: flex;
  gap: 10px;
}

.swipor_p_van {
  margin-top: 30px;
}

/* svipor img */
.swipor_img_p_van {
  width: 22px;
  height: 25px;
  margin-top: 30px;
}

.swipor_img_p_tu {
  width: 29px;
  height: 25px;
}
/* h1 */
.swipor_div_h {
  max-width: 715px;
}

.h_swipor {
  color: #000;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76.8px;
  /* 120% */
}

/* p */
.swipor_p {
  color: #262626;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}

/* btn */

.swipor_btn {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.8px;
  text-transform: capitalize;
  border-radius: 40px;
  background: linear-gradient(90deg, #ff4d00 0%, #ff9365 100%);
  padding: 18px 48px;
  border: none;
}

/* News */

/* title p */
.news_p {
  max-width: 1400px;
  max-height: 43.2px;
  color: #e84e10;
  text-align: center;
  font-family: Kanit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
  /* 180% */
}

/* title h */
.news_h {
  max-width: 1400px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 120% */
}

/* card */
.card_news {
  display: flex;
}

.news_card_van {
  display: flex;
  min-height: 648.062px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.news_card_tu {
  display: flex;
  width: 329px;
  min-height: 1px;
  padding: 15px 15px 65px 15px;
  flex-direction: column;
  align-items: flex-start;
}

.news_card_fre {
  display: flex;
  width: 329px;
  min-height: 1px;
  padding: 15px 15px 65.01px 15px;
  flex-direction: column;
  align-items: flex-start;
}

.news_card_fo {
  display: flex;
  width: 329px;
  min-height: 1px;
  padding: 15px 15px 65.01px 15px;
  flex-direction: column;
  align-items: flex-start;
}

/* card p */
.card_p {
  display: flex;
  padding: 0px 132.17px 0px 3.59px;
  align-items: center;
  gap: 8.24px;
  align-self: stretch;
}

/* caed h6 */
.card-text {
  color: #000;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
}

.news_card_van {
  display: flex;
  width: 329px;
  min-height: 1px;
  padding: 15px 15px 65.01px 15px;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  line-height: 31.2px;
  /* 120% */
}

/* Online dars */


.online_dars_hvan {
padding-top: 43px;
color: #E84E10;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
}



.online_dars{
  background-color: #262626;
  color:#fff ;
  height: 1000px;
}

.online_dars_card{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}

.online_dars_img{
 width: 446.66px;
height: 245.66px;
max-width: 446.66px;
border-radius: 20px;
}

.online_dars_p{
  padding-top: 43px;
}
.online_dars_p_ikki{
  padding-top: 43px;
}
.online_dars_p_uch{
  padding-top: 43px;
}

.online_dars_hikki{
  padding-top: 35px;
  color: #E84E10;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
}

/* Online dars ikkinchi qisim */
.online_dars_card_ikkinchi{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.online_dars_card_ikkinchi_p{
  padding-top: 44px;
}

.online_dars_card_ikkinchi_p_ikki{
  padding-top: 44px;
}
.online_dars_card_ikkinchi_p_uch{
  padding-top: 44px;
}

/* Registon haqida */

.Registon_haqida{
width: 1500px;
height: 550px;
margin-top: 60px;
border-radius: 30px;
background: #E8FAFF;
}

/* .registon_haqida_img_girl_bir{
width: 250px;
height: 500px;
} */

.registon_haqida_minimalumot{
  display: flex;
  gap: 212px;
 
}
.registon_haqida_title{
  padding-left: 533px;
  padding-top: 90px;
}

.registon_haqida_text_h{
max-width: 803.19px;
color: #000;
font-family: Montserrat;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 72px;
}

.registon_haqida_malumot_bir{
  padding-left: 533px;
  padding-top: 40px;
}
.registon_haqida_malumot_bir_h{
  max-height: 104.5px;
color: #000;
font-family: Montserrat;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 104.5px; 
}

.registon_haqida_malumot_bir_p{
  max-width: 225.52px;
  color: #000;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}

.registon_haqida_malumot_ikki{
padding-top: 40px; 
}

.registon_haqida_malumot_bir_h_ikki{
  max-height: 104.5px;
  color: #000;
font-family: Montserrat;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 104.5px; 
}
.registon_haqida_malumot_bir_p_ikki{
  max-width: 225.52px;
  color: #000;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}

.registon_haqida_malumot_uch{
  padding-top: 40px;
}

.registon_haqida_malumot_bir_h_uch{
  max-height: 104.5px;
  color: #000;
font-family: Montserrat;
font-size: 55px;
font-style: normal;
font-weight: 700;
line-height: 104.5px;
}
.registon_haqida_malumot_bir_p_uch{
  max-width: 225.52px;
  color: #000;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}

/*Registon avzaliglari*/

.registon_avzaligimiz_texs{
  padding-top: 100px;
}

.registon_avzaligimiz_texs_h{
  max-width: 1400px;
max-height: 28.8px;
color: #E84E10;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28.8px; 
letter-spacing: 1.2px;
}

.registon_avzaligimiz_texs_hikki{
  max-width: 1400px;
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 72px; 
}

.registon_avzaligimiz_card{
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 51px;
}

.registon_avzaligimiz-card_bir{
width: 350px;
height: 260px;
border-radius: 30px;
background: linear-gradient(180deg, rgba(255, 77, 0, 0.07) 0%, rgba(255, 77, 0, 0.19) 100%);
}

.registon_avzaligimiz-card_img{

  padding-top: 70px;

}

.registon_avzaligimiz-card_p{ 
  color: #000;
  padding-left: 57px;
  padding-top: 44px;
}

.registon_avzaligimiz-card_ikki{
  width: 350px;
height: 260px;
border-radius: 30px;
background: linear-gradient(180deg, rgba(255, 77, 0, 0.07) 0%, rgba(255, 77, 0, 0.19) 100%);

}

.registon_avzaligimiz-card_img_ikki{
  padding-left: 130px;
    padding-top: 70px;
}

.registon_avzaligimiz-card_p_ikki{
  color: #000;
    padding-left: 57px;
  padding-top: 44px;
}

.registon_avzaligimiz-card_uch{
   width: 350px;
height: 260px;
border-radius: 30px;
background: linear-gradient(180deg, rgba(255, 77, 0, 0.07) 0%, rgba(255, 77, 0, 0.19) 100%);

}

.registon_avzaligimiz-card_img_uch{
    padding-left: 130px;
    padding-top: 70px;
    
}

.registon_avzaligimiz-card_p_uch{
  color: #000;
    padding-left: 57px;
  padding-top: 44px;
}
/* Registon avzaliglari cardikki */
.registon_avzaligimiz-cardikki_bir{
  width: 350px;
height: 260px;
border-radius: 30px;
background: linear-gradient(180deg, rgba(255, 77, 0, 0.07) 0%, rgba(255, 77, 0, 0.19) 100%);

}
.registon_avzaligimiz_cardikki{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.registon_avzaligimiz-cardikki_img{
   padding-left: 130px;
    padding-top: 70px;
}

.registon_avzaligimiz-cardikki_p{
   color: #000;
    padding-left: 57px;
  padding-top: 44px;
}

.registon_avzaligimiz-cardikki_ikki{
    width: 350px;
height: 260px;
border-radius: 30px;
background: linear-gradient(180deg, rgba(255, 77, 0, 0.07) 0%, rgba(255, 77, 0, 0.19) 100%);

}

.registon_avzaligimiz-cardikki_img_ikki{
   padding-left: 130px;
    padding-top: 70px;
}

.registon_avzaligimiz-cardikki_p_ikki{
   color: #000;
    padding-left: 57px;
  padding-top: 44px;
}

.registon_avzaligimiz-cardikki_uch{
   width: 350px;
height: 260px;
border-radius: 30px;
background: linear-gradient(180deg, rgba(255, 77, 0, 0.07) 0%, rgba(255, 77, 0, 0.19) 100%);

}

.registon_avzaligimiz-cardikki_img_uch{
  padding-left: 130px;
    padding-top: 70px;
}

.registon_avzaligimiz-cardikki_p_uch{
  color: #000;
    padding-left: 57px;
  padding-top: 44px;
}