*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar img */

.img_navbar{
display: flex;
padding-top: 20px;
padding-left: 10px;
width: 140.996px;
height: 40.14px;
}
/* Navbar */

.text_ul_navbar{
color: #000;
display: flex;
justify-content: center;
}
.text_li_navbar{
 font-family: Montserrat;
 margin-right: 27px;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 34.2px; /* 180% */
list-style: none;
}
/* Navbar btn */
.navbar_btn_div{
    display: flex;
    justify-content: right;
    
}
.navbar_btn{
    display: flex;
    padding: 17.15px 47.035px 17.15px 47.245px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 40px;
    background: linear-gradient(90deg, #FF4D00 0%, #FF9365 100%);
    border-bottom: #FF4D00;
}
/* navbar p */
.swipor_div_p{
    display: flex;
    gap: 10px;
}
.swipor_p_van{
    margin-top: 30px;
}

/* navbar img */
.swipor_img_p_van{
    width: 22px;
    height: 25px;
    margin-top: 30px;
}
.swipor_img_p_tu{
    width: 29px;
    height: 25px;
}

/* Swipor */

/* h1 */
.swipor_div_h{
    max-width: 715px;
}
.h_swipor{
color: #000;
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: 76.8px; /* 120% */
}
/* p */
.swipor_p{
color: #262626;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}
/* btn */

.swipor_btn{
 display: flex;
 margin-top: 25px;
 padding: 14.6px 39.8px 14.6px 40px;
 justify-content: center;
 align-items: flex-start;
 border-radius: 40px;
background: #E84E10;
}

/* News */

/* title p */
.news_p{
max-width: 1400px;
max-height: 43.2px;
color: #E84E10;
text-align: center;
font-family: Kanit;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 43.2px; /* 180% */
}
/* title h */
.news_h{
 max-width: 1400px;
 color: #000;
text-align: center;
font-family: Montserrat;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 72px; /* 120% */
}
/* card */
.news_card{
display: flex;
min-height: 648.062px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
/* card p */
.card_p{
 display: flex;
padding: 0px 132.17px 0px 3.59px;
align-items: center;
gap: 8.24px;
align-self: stretch;
}
/* caed h6 */
.card-text{
color: #000;
font-family: Montserrat;
font-size: 26px;
font-style: normal;}
.news_card_van{
    display: flex;
width: 329px;
min-height: 1px;
padding: 15px 15px 65.01px 15px;
flex-direction: column;
align-items: flex-start;
font-weight: 600;
line-height: 31.2px; /* 120% */
}